@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply text-neutral-900/80 dark:text-white/80 max-w-prose;
}

label {
  @apply font-semibold text-sm uppercase text-neutral-900/60 dark:text-white/60;
}

.icon {
  filter: brightness(0);
  opacity: 0.91;
}

.icon-white,
.dark .icon {
  filter: brightness(0) invert(1);
  opacity: 1;
}

.active > span {
  @apply text-red-600;
}

.active > .icon,
.dark .active > .icon {
  filter: unset;
  opacity: 1;
}

.swiper {
  @apply w-full max-w-full px-0 md:px-16 !important;
}

.swiper-wrapper {
  @apply pt-2 pb-16;
}

.swiper-slide {
  @apply flex flex-grow h-auto max-w-[242px] !important;
}

.swiper-button-next {
  @apply hidden md:flex right-0 !important;
}

.swiper-button-prev {
  @apply hidden md:flex left-0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-red-600 bg-white dark:bg-neutral-900 top-0 w-12 m-0 h-full !important;
}

.swiper-pagination-bullet {
  @apply bg-neutral-900 dark:bg-white !important;
}

.swiper-pagination-bullet-active {
  @apply bg-red-600 dark:bg-red-600 !important;
}

.video {
  max-width: none !important;
}

::-ms-reveal {
  filter: invert(100%);
}

.Toastify__close-button > svg {
  @apply text-neutral-900 dark:text-white;
}

.text-small {
  @apply text-sm whitespace-nowrap text-ellipsis overflow-hidden text-neutral-900/80 dark:text-white/80;
}

.text-medium {
  @apply font-semibold text-base whitespace-nowrap text-ellipsis overflow-hidden;
}

.text-large {
  @apply font-semibold text-lg whitespace-nowrap text-ellipsis overflow-hidden;
}
